

<img src="https://picsum.photos/1200/400?random&t=1" class="img-fluid" alt="Responsive image">

<div>
<mat-card >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Camille</mat-card-title>
      <mat-card-subtitle>Personal Life</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://storage.cloud.google.com/camillefitness/aGoodDiet.jpg" alt="Photo Camille Professional Life" height="350" width="800">
    <mat-card-content>
      <p>
       sdfsdfds
       sdgdfgdfg
       dfgdfg
       dfgdfgdf
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Camille</mat-card-title>
        <mat-card-subtitle>Personal Life</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://storage.cloud.google.com/camillefitness/aGoodDiet.jpg" alt="Photo Camille Personal Life" height="350" width="800">
      <mat-card-content>
        <p>
         sdfsdfds
         sdgdfgdfg
         dfgdfg
         dfgdfgdf
        </p>
      </mat-card-content>
    </mat-card>
  </div>