<div class="col-md-5 col-md-offset-2">
    <div class="card card-contact">
      <form role="form" id="contact-form" method="post">
        <div class="header header-danger header-primary text-center">
          <h4 class="card-title">Contact Me</h4>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">First name</label>
                <input type="text" name="name" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Last name</label>
                <input type="text" name="name" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Email address</label>
            <input type="email" name="email" class="form-control" />
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Your message</label>
            <textarea name="message" class="form-control" id="message" rows="6"></textarea>
          </div>

         <!--
          <div class="captcha">
            <div class="g-recaptcha" data-sitekey="6LegLGwUAAAAAPhFpFCRlcnRHNOM4fhEwFYPDq08"></div>
                                                   
          </div>
        -->
          <div class="text-center">
            <button type="submit" class="btn btn-danger">Send Message</button>
          </div>

        </div>

      </form>
    </div>
  </div>