<div>
    <mat-accordion class="example-headers-align" fxFlex="100" fxFlex.gt-xs="100">
      <mat-expansion-panel  hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Back to Health
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>fitness_center</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Standard form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel  hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Eat Fresh, Look Fresh
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                1on1 Personalised
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon></mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
  </div>